*{
  margin: 0;
  padding: 0;
}

:root{
  background-color: #1b1b1b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: rgb(238, 238, 238);
 
}

#app{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  align-items: center;
  justify-items: center;
}

.highlight{
  color: rgb(144, 56, 251);
  font-style: italic;
}

.highlight2{
  color: rgb(144, 56, 251);
  
}

#LoginPage{
display: grid;
height: 70vh;
width: 80vw;


 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr, 1fr;
 justify-items: center;
 align-items: center;


}

@keyframes grow {
  from{
    transform: scaleY(0.9);
   
  }
  to{
    transform: scaleY(1);
  
  }
}

@keyframes shrink {
  from{
    transform: scaleY(1.1);
   
  }
  to{
    transform: scaleY(1);
  
  }
}

@keyframes spawn {
 0%{
  transform: scale(0);
  filter: opacity(0);
 }
 50%{
  transform: scale(1.1);
  filter: opacity(0.8);
 }
 100%{
  transform: scale(1);
  filter: opacity(1);
 }
}

@keyframes close {
  100%{
   transform: scale(0);
   filter: opacity(0);
  }
  50%{
   transform: scale(1.1);
   filter: opacity(0.8);
  }
  0%{
   transform: scale(1);
   filter: opacity(1);
  }
 }

#LoginPage .background{
 height: 50vh;
 width: 20vw;
 background-color: #2a2a2a;
display: flex;
flex-direction: column;
gap: 2vh;
padding: 5vh;
box-sizing: border-box;
animation: shrink .4s;
}

#LoginPage form{
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 5vh;
 

  border-radius: 10px;
grid-column: 1/2;
grid-row: 2/3;
}
#LoginPage h1{
  grid-row: 1/2;
  grid-column: 1/2;
}


form input,label{
  height: 3vh;
  width: 12vw;

 
}

 form button{
  width: 8vw;
  height: 5vh;
  background-color: rgb(144, 56, 251);
  border: none;
  box-shadow: 0 9px  rgb(88, 33, 154);
  margin-top: 2vh;
  font-weight: bold;
  color: rgb(42, 42, 42);
}



 button:hover, .background .register:hover{
 cursor: pointer;
 color: rgb(238, 238, 238);
}

#Navbar button:hover, #SwipeButtons button:hover,.rizzText button:hover{
  transform: scale(1.2);
}

.background .register:active,#RegisterPage button:active,#LoginPage button:active{
  
  transform: translateY(4px);
  box-shadow: 0 5px  rgb(88, 33, 154);
  color: rgb(238, 238, 238);
}


.background .register{
  width: 6vw;
  height: 3vh;
  background-color: #9038fb;
  border: none;
  box-shadow: 0 9px  rgb(88, 33, 154);
  margin-top: 2vh;
  font-weight: bold;
  color: rgb(42, 42, 42);
}

Footer h1,h2{
  background-color: rgb(42, 42, 42);
  width: 100vw;
 justify-content: center;
 display: flex;
 align-items: center;
 height: 5vh;
}


#Navbar{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 width: 100%;
 justify-content: center;
 background-color: #2a2a2a;
 height: 100%;
 justify-items: center;
 align-items: center;
}

#NavButtons{
 grid-column: 1/2;

  display: flex;
  
  align-items: center;
  gap: 2vh;
  justify-self: end;
}


#Navbar button{
  height: 3vh;
  width: 3vh;

  background-color: transparent;
  border: none;

  transition: transform 0.2s;

}



#Navbar img{
  height: 3vh;
  width: 3vh;
}


#RegisterPage{
  display: grid;
  height: 70vh;
  width: 80vw;
  
  
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr, 1fr;
   justify-items: center;
   align-items: center;
}

#RegisterPage form{
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 5vh;
 

  border-radius: 10px;
grid-column: 1/2;
grid-row: 2/3;
}

#RegisterPage .background{
  height: 60vh;
  width: 20vw;
  background-color: rgb(42, 42, 42);
 display: flex;
 flex-direction: column;
 gap: 5vh;
 padding: 5vh;
 box-sizing: border-box;
 transition: transform .2s;
 animation: grow .4s;
}


#SwipeProfile{
  display: none;
  animation: spawn 0.8s;
}

#SwipeIntro{
  height: 70vh;
  width: 50vh;
  background-color: #2a2a2a;
  display: flex;
 flex-direction: column;
 align-items: center;
 gap: 3vh;
 padding: 2vh;

 box-sizing: border-box;
}


#SwipeButtons {
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8vh;
}

#SwipeButtons button{
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  border: none;
  background-color:   rgb(144, 56, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.SwipePic{
  height: 40vh;
  width: 40vh;
  object-fit: cover;
}

#SwipeInfo .pics img:hover {
  cursor: pointer;
 filter: brightness(70%);
}

.text{
  height: 5vh;
  
}

#SwipeButtons img{
 height: 3vh;
 width: 3vh;
}

#SwipeInfo{
  height: 70vh;
  width: 50vh;
  background-color: #9038fb;
  padding: 2vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#SwipeInfo .pics img{
  background-color: #2a2a2a;
  width: 12vh;
  height: 12vh;
  object-fit: cover;
  
}

#SwipeInfo .pics{
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: space-between;
  row-gap: 2vh;
  width: 100%;
 
}

.info{
  display: flex;
width: 100%;

justify-content: space-between;
}

ul{
  list-style-type: none;

}
li{
  margin: 0.3vh 0;
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 0.5vh;
}
.rizzText{

  
  gap: 1vh;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: end;
  width: 100%;
}

.rizzText textarea{
height: 20vh;
width: 80%;
background-color: #2a2a2a;
color: aliceblue;
padding: 1vh;
outline: none ;
resize: none;
animation: spawn 0.5s;
}

.closing{
  animation: close 0.5s;
}

.rizzText button{
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  border: none;
  background-color:   #2a2a2a;
  color: aliceblue;

 
  transition: transform 0.2s;
}

#rizzImg{
  height: 4vh;
  width: 4vh;
  border-radius: 100%;
}



#AccountPage{
  display: flex;
}

#AccountIntro{
  height: 70vh;
  width: 50vh;
  background-color: #2a2a2a;
  display: flex;
    flex-direction: column;
  align-items: center;
  padding: 2vh;
  box-sizing: border-box;
  gap: 2vh;
}

#AccountIntro img{
  width: 40vh;
  height: 40vh;
}

#AccountIntro input{
  height: 40vh;
  width: 40vh;
  position: absolute;
}


#AccountInfo{
  height: 70vh;
  width: 50vh;
  background-color: #9038fb;
  padding: 2vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#AccountInfo .pics{
 display: grid;
 grid-template-columns: repeat(3,auto);
 justify-content: space-between;
 row-gap: 2vh;
 width: 100%;
}

#AccountInfo img{
  height: 12vh;
  width: 12vh;
  background-color: #2a2a2a;
  object-fit: cover;
}

#AccountIntro img{

  background-color: #2a2a2a;
  object-fit: cover;
}

#likes img{
  all: unset;
  height: 6vh;
  width: 6vh;
}
#likes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;

}

#likes p{
  font-size: 40px;
}

#AccountInfo .pics button:hover,#AccountIntro button:hover  {
 
 filter: brightness(70%);
}

#AccountInfo .pics button{
all: unset;
color: transparent;
height: 12vh;
width: 12vh;;
}

#AccountInfo button input::-webkit-file-upload-button,#AccountIntro button input::-webkit-file-upload-button  {

visibility: hidden;

}

#AccountInfo button input:hover,#AccountIntro button input:hover  {
cursor: pointer;
  }
  

#ProfileButton{

  all: unset;
  color: transparent;
}

#EditButton {
  all: unset;
  background-color: #e0e0e0;
  color: #2a2a2a;
  border-radius: 10px;
  padding: 1vh;
  font-weight: 500;
}
#EditButton:hover,#cancel:hover{
  cursor: pointer;
}

#EditButtons{
  display: flex;
  gap: 3vh;
}

#cancel{
  all: unset;
  background-color: #e0e0e0;
  color: #2a2a2a;
  border-radius: 10px;
  padding: 1vh;
  font-weight: 500;
}



#AccountInfo input{
  height: 12vh;
  width: 12vh;
  position: absolute;
}

#AccountInfo li input{
  all: unset;
  height: 2vh;
  width: 5vh;
 
}

#AccountInfo li button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

#AccountInfo li:hover{
cursor: pointer;
}

.interest ul{
  display: flex;
  flex-direction: column;
 height: 100%;
 justify-content: space-evenly;
}

.tagButton{
 height: 3vh;
 background-color: #2a2a2a;
 color: #e0e0e0;
 border: none;
 border-radius: 10px;
 font-size: 16px;
 padding: 1vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

#TagWindow{
  height: 25vh;
  width: 45vh;
  background-color: #2a2a2a;
  
  padding: 1vh;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  
}

.tags{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1vh;
  text-align: center;
}

.tags p, .tags button{
  all: unset;
  border: 1px white solid;
  border-radius: 5px;
}

#TagWindow h1{
  font-size: 20px;
}

.tags p:hover ,.tags button:hover{
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  color: #2a2a2a;
  
}

.personal select{
  background-color: #2a2a2a;
  border: none;
  color: aliceblue;
  outline: none;
  font-size: 16px;
  width: 10vh;
}

.personal  li {
display: flex;
justify-content: space-between;
}

.personal select:hover{
cursor: pointer;
}

.info{
  display: flex;
  
}

#SearchInfo{
  height: 10vh;
  width: 45vh;
  background-color: #2a2a2a;
  
  padding: 1vh;
  box-sizing: border-box;
 
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  display: none;
  
}

#SearchInfo .tags{
  height: 4vh;
  font-weight: 500;
}

#searchTag{
  height: 3vh;
  width: 100%;
  background-color: #2a2a2a;
  border: none;
  border-radius: 10px;
  color: #e0e0e0;
  font-size: 16px;
}

#EmptyPage{
  display: none;
}

#LikePage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh 15vh;
  
  height: 90%;
  width: 90%;
gap: 1vh;
  
align-items: center;
}


#LikedProfile{
  background-color: #2a2a2a;
  width: 26vw;
  height: 15vh;
  display: grid;
  grid-template-columns: 10vh 1fr;
  grid-template-rows: 5vh 1fr;
  column-gap: 2vh;
 
  box-sizing: border-box;
  padding: 1vh;
  grid-column: 1;
  
}

#LikedProfile h1{
  justify-self: center;
grid-column: 1/2;
grid-row: 1/2;
font-size: 20px;
}

#LikedProfile img{
  height: 10vh;
  width: 10vh;
  background-color: #1b1b1b;
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
 }

#LikedProfile p{
 height: 10vh;
 width: 100%;
 background-color: #1b1b1b;
 grid-column: 2/3;
 grid-row: 1/3;
 align-self: center;

}