*{
  margin: 0;
  padding: 0;
}

:root{
  background-color: rgb(36, 36, 36);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: rgb(238, 238, 238);
 
}

#app{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  align-items: center;
  justify-items: center;
}

.highlight{
  color: rgb(144, 56, 251);
  font-style: italic;
}

.highlight2{
  color: rgb(144, 56, 251);
  
}

#LoginPage{
display: grid;
height: 70vh;
width: 80vw;
background-color: rgb(42, 42, 42);

 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 justify-items: center;
 align-items: center;

}

#LoginPage form{
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 3vh;
 

  border-radius: 10px;
grid-column: 1/2;
grid-row: 2/3;
}
#LoginPage h1{
  grid-row: 1/2;
  grid-column: 1/2;
}


form input,label{
  height: 3vh;
  width: 10vw;
 
}

form button{
  width: 5vw;
  height: 3vh;

}

Footer h1,h2{
  background-color: rgb(42, 42, 42);
  width: 100vw;
 justify-content: center;
 display: flex;
 align-items: center;
 height: 5vh;
}


