*{
  margin: 0;
  padding: 0;
}

:root{
  background-color: rgb(27, 27, 27);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: rgb(238, 238, 238);
 
}

#app{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  align-items: center;
  justify-items: center;
}

.highlight{
  color: rgb(144, 56, 251);
  font-style: italic;
}

.highlight2{
  color: rgb(144, 56, 251);
  
}

#LoginPage{
display: grid;
height: 70vh;
width: 80vw;


 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr, 1fr;
 justify-items: center;
 align-items: center;


}

@keyframes grow {
  from{
    transform: scaleY(0.9);
   
  }
  to{
    transform: scaleY(1);
  
  }
}

@keyframes shrink {
  from{
    transform: scaleY(1.1);
   
  }
  to{
    transform: scaleY(1);
  
  }
}

@keyframes spawn {
 0%{
  transform: scale(0);
  filter: opacity(0);
 }
 50%{
  transform: scale(1.1);
  filter: opacity(0.8);
 }
 100%{
  transform: scale(1);
  filter: opacity(1);
 }
}

#LoginPage .background{
 height: 50vh;
 width: 20vw;
 background-color: rgb(42, 42, 42);
display: flex;
flex-direction: column;
gap: 2vh;
padding: 5vh;
box-sizing: border-box;
animation: shrink .4s;
}

#LoginPage form{
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 5vh;
 

  border-radius: 10px;
grid-column: 1/2;
grid-row: 2/3;
}
#LoginPage h1{
  grid-row: 1/2;
  grid-column: 1/2;
}


form input,label{
  height: 3vh;
  width: 12vw;

 
}

 form button{
  width: 8vw;
  height: 5vh;
  background-color: rgb(144, 56, 251);
  border: none;
  box-shadow: 0 9px  rgb(88, 33, 154);
  margin-top: 2vh;
  font-weight: bold;
  color: rgb(42, 42, 42);
}



 button:hover, .background .register:hover{
 cursor: pointer;
 color: rgb(238, 238, 238);
}

#Navbar button:hover, #SwipeButtons button:hover{
  transform: scale(1.2);
}

.background .register:active,#RegisterPage button:active,#LoginPage button:active{
  
  transform: translateY(4px);
  box-shadow: 0 5px  rgb(88, 33, 154);
  color: rgb(238, 238, 238);
}


.background .register{
  width: 6vw;
  height: 3vh;
  background-color: #9038fb;
  border: none;
  box-shadow: 0 9px  rgb(88, 33, 154);
  margin-top: 2vh;
  font-weight: bold;
  color: rgb(42, 42, 42);
}

Footer h1,h2,#Navbar h1{
  background-color: rgb(42, 42, 42);
  width: 100vw;
 justify-content: center;
 display: flex;
 align-items: center;
 height: 5vh;
}
#Navbar{
  display: flex;
  align-items: center;
}

#Navbar button{
  height: 3vh;
  width: 3vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-left: 50vh;
  transition: transform 0.2s;
}

#Navbar img{
  height: 3vh;
  width: 3vh;
}


#RegisterPage{
  display: grid;
  height: 70vh;
  width: 80vw;
  
  
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr, 1fr;
   justify-items: center;
   align-items: center;
}

#RegisterPage form{
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 5vh;
 

  border-radius: 10px;
grid-column: 1/2;
grid-row: 2/3;
}

#RegisterPage .background{
  height: 60vh;
  width: 20vw;
  background-color: rgb(42, 42, 42);
 display: flex;
 flex-direction: column;
 gap: 5vh;
 padding: 5vh;
 box-sizing: border-box;
 transition: transform .2s;
 animation: grow .4s;
}


#SwipeProfile{
  display: flex;
  animation: spawn 0.8s;
}

#SwipeIntro{
  height: 70vh;
  width: 50vh;
  background-color: #2a2a2a;
  display: flex;
 flex-direction: column;
 align-items: center;
 gap: 3vh;
 padding: 2vh;

 box-sizing: border-box;
}


#SwipeButtons {
  width: 40vh;


  
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8vh;
}

#SwipeButtons button{
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  border: none;
  background-color:   rgb(144, 56, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.SwipePic{
 
  height: 40vh;
  width: 40vh;
  object-fit: cover;
}

#SwipeInfo img:hover {
  cursor: pointer;
 filter: brightness(50%);
}

.text{
  height: 5vh;
  
}

#SwipeButtons img{
 height: 3vh;
 width: 3vh;
}

#SwipeInfo{
  background-color: #9038fb;
  width: 50vh;
  height: 70vh;
  padding: 2vh;
  box-sizing: border-box;
}

#SwipeInfo img{
  background-color: #2a2a2a;
  width: 13vh;
  height: 13vh;
  object-fit: cover;
}

#SwipeInfo .pics{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vh;
  justify-items: center;
}
